<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="MailSettings">
      <section name="MailToolsConfiguration" type="MailTools.MailConfigurationHandler, MailTools, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
  <appSettings>
    <add key="ReportFolder" value="C:\ReportName\ReportFolder\" />
    <add key="ReportName" value="ReportName" />
    <add key="ArchiveIfOlderThanThisManyDays" value="60"/>
    <add key="SID_ConnectionString" value=""/>
    <add key="ProcedureName" value="report_test"/>
    <add key="EmailSubject" value="Report Name"/>
    <add key="FromEmail" value="noreply@company.com"/>
    <add key="ToEmail1" value="name@company.com, Firstname Lastname"/>
    <add key="ToEmail2" value="name@company.com, Firstname Lastname"/>
    <add key="ErrorEmailSubject" value="ReportName Did Not Generation Successfully"/>
    <add key="ErrorToEmail1" value="name@company.com, Firstname Lastname"/>
    <add key="ErrorToEmail2" value="name@company.com, Firstname Lastname"/>
  </appSettings>

  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/log"/>
    <targets>
      <target name="mainLog" type="File" filename="${logDirectory}/GenericReport_${date:format=yyyyMMdd}.txt" layout="${longdate}|${threadname}|${level:upperCase=true}|${logger}|${message}|| ${exception:Format=ToString}"/>
      <target name="fatalLog" type="File" filename="${logDirectory}/GenericReport_${date:format=yyyyMMdd}_FATAL.txt"/>
      <target name="traceLog" type="File" filename="${logDirectory}/GenericReport_${date:format=yyyyMMdd}_TRACE.txt" layout="${longdate}|${threadname}|${level:upperCase=true}|${logger}|${message}|| ${exception:Format=ToString}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="traceLog"/>
      <logger name="*" minlevel="Info" writeTo="mainLog"/>
      <logger name="*" minlevel="Warn" writeTo="fatalLog"/>
    </rules>
  </nlog>

  <MailSettings>
    <MailToolsConfiguration SMTPPort="25" SMTPHost="location.host.com" AnonymousLogin="true" OverrideEmail ="true" OverrideAddress ="name@company.com" />
  </MailSettings>
  
</configuration>